{% extends "blog/base.html" %}
{% block content %}
    <h1>Acerca de nosotros</h1>
    <br><br>Somos Leandro Ruiz y Leandro Padovani. 
    Nos gustan los deportes y por esa razón pensamos usar este blog para describir nuestra propuesta deportiva para este verano 2023. 
    <br>Para contactarnos:
    <br>
    <li>l&l@gmail.com</li>

    <br>
    (Contenido para Posteo 1)
    3 Islas
    (Contenido para Posteo 2)
    Moreno

    <!-- Enlace de retorno -->
    <br><br>
    <a href ="{% url 'blog-home' %}">Volver a Home</a>

{% endblock content %}
