{% extends "blog/base.html" %}
{% block content %}
    <h1>Acerca de nosotros</h1>
    <br><br>Somos Leandro Ruiz y Leandro Padovani. 
    Nos gustan los deportes y por esa razón pensamos usar este blog para describir nuestra propuesta deportiva para este verano 2023. 
    <br>Para contactarnos:
    <br>
    <li>l&l@gmail.com</li>

    <br>
    (Contenido para Posteo 1)
    
    <h2>3 ISLAS</h2>
    <br>
    FECHAS: 15 de Enero 2023

    <br>
    DE QUE SE TRATA
    <br>
    Se trata de una travesía acuática en el lago Nahuel Huapi. La misma se desarrolla en dos etapas.
    El circuito rodea las islas Huemul, Gallina y Huevo y suma un recorrido total de 10 km.  
    Es una actividad sin fines de lucro, donde cada invitado solventa sus gastos. Con carácter familiar, recreativo, no competitivo, se busca fomentar la camaradería entre nadadores y el entusiasmo por la natación y la vida al aire libre.
    <br>
    <!-- <img src="images/3i-617x655.jpg"> -->
    <!--<img src="C:\Users\Mi Equipo\Downloads\Python\PF1122\blog\templates\blog\3i.jpg"> -->
    <img src="3i.jpg">

    <br>
    <br>
    (Contenido para Posteo 2)

    <h2>LA VUELTA DEL MORENO</h2>
    <br>
    FECHAS: 4 y 5 de Febrero 2023
    
    <br>
    DE QUE SE TRATA
    <br>
    Se trata de una travesía acuática en el lago Moreno Oeste, a realizarse en el verano del 2023. La misma se desarrolla en distintos días y etapas. 
    El circuito sigue el contorno del lago y suma un recorrido total de 21km. 
    Es una actividad sin fines de lucro, donde cada invitado solventa sus gastos. Con carácter familiar, recreativo, no competitivo, se busca fomentar la camaradería entre nadadores y el entusiasmo por la natación y la vida al aire libre.
    <br>
    <!-- <img src="images/VdM-661v403.jpg"> -->
    <!-- <img src="vdm.jpg" width="661" height="403"> -->
    <img src="vdm.jpg">
    <br>



    <!-- Enlace de retorno -->
    <br><br>
    <a href ="{% url 'blog-home' %}">Volver a Home</a>

{% endblock content %}
