{% extends "blog/base.html" %}
{% block content %}
    
    <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
         <a class="mr-2" href="#">{{ object.autor }}</a>        <!--cambiamos donde decia post, pusimos object-->
        <small class="text-muted">{{ object.fecha }}</small>
        </div>
        <h2 class="post.titulo">{{ object.titulo }}</h2>    <!--<a class="article-title" href="#">-->
        <p class="article-content">{{ object.content }}</p>
     </div>
    </article>
   
    
    <!-- Enlace a About -->
    <br><br>
    <a href ="{% url 'blog-about' %}">Acerca de Nosotros</a>
    
{% endblock content %}